input {
    padding: 10px;
    width: 80%;
    border: none;
    margin: 10px;
    border-radius: 8px;
  }
  
  .container {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
  }
  
  .img {
    width: 200px;
    height: 80px;
  }
  
  